{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{% autoescape false %}
subject = "{{ siteName ~ ' Şifre Hatırlatma'|trim('"') }}"
{% endautoescape %}
{% endblock %}

{% block body_text %}
{% autoescape false %}
bodyText = "Merhaba {{ user.realName|trim('"') }} {{ user.realSurname|trim('"') }};
{{ siteName|trim('"') }} şifrenizi değiştirmek için asagıdaki URL'yi kopyalayıp tarayıcınıza yapıstırınız.

{{ confirmationUrl }}"
{% endautoescape %}
{% endblock %}

{% block body_html %}
	{% autoescape false %}
	bodyHtml = "<p>Merhaba {{ user.realName|trim('"') }} {{ user.realSurname|trim('"') }}</p><br><br><b>{{ siteName|trim('"') }}</b> şifrenizi değiştirmek için <a href=\"{{ confirmationUrl }}\">buraya tıklayınız.</a><br><br>Eger URL'yi göremiyorsanız asagıdaki URL'yi kopyalayıp tarayıcınıza yapıstırınız.<br><br>{{ confirmationUrl }}"
	{% endautoescape %}
{% endblock %}
